







section.section.about: .container: .row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6
		img.lazy( src="#", data-src=src.img+'thumbnail.png' )
	.col-xs-12.col-sm-6.col-md-6.col-lg-6.first-sm
		h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit
		include ../blocks/_content
		p: a.permalink( href="#" ) Подробней